In [ ]:
import pandas as pd
df=pd.read_csv('/content/student_performance_data.csv')

In [ ]:
print(df.head())

   StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA      Major  \
0          1    Male   24                 37           90.75  3.47       Arts
1          2  Female   22                 37           74.90  2.32  Education
2          3    Male   22                 10           53.36  2.38   Business
3          4    Male   24                 10           70.26  3.46    Science
4          5    Male   18                 19           74.87  2.31  Education

  PartTimeJob ExtraCurricularActivities
0         Yes                        No
1          No                        No
2          No                        No
3         Yes                        No
4         Yes                        No

In [ ]:
print(df.describe())

        StudentID         Age  StudyHoursPerWeek  AttendanceRate        GPA
count  500.000000  500.000000         500.000000      500.000000  500.00000
mean   250.500000   20.956000          19.876000       74.990380    2.98516
std    144.481833    2.000517          11.471347       14.565917    0.56362
min      1.000000   18.000000           1.000000       50.010000    2.00000
25%    125.750000   19.000000          10.000000       62.607500    2.48750
50%    250.500000   21.000000          20.500000       75.730000    3.00000
75%    375.250000   23.000000          30.000000       87.220000    3.48000
max    500.000000   24.000000          39.000000       99.970000    3.99000

In [ ]:
num_row, num_columns = df.shape

print(f"Number of rows: {num_row}")
print(f"Number of columns: {num_columns}")

Number of rows: 500
Number of columns: 9

In [ ]:
print(df.dtypes)

StudentID                      int64
Gender                        object
Age                            int64
StudyHoursPerWeek              int64
AttendanceRate               float64
GPA                          float64
Major                         object
PartTimeJob                   object
ExtraCurricularActivities     object
dtype: object

In [ ]:
missing_values = df.isnull().sum()
print(missing_values)

StudentID                    0
Gender                       0
Age                          0
StudyHoursPerWeek            0
AttendanceRate               0
GPA                          0
Major                        0
PartTimeJob                  0
ExtraCurricularActivities    0
dtype: int64

In [ ]:
unique_values = df['Age'].unique()
num_unique_values = len(unique_values)
print("unique values in 'Age'column:",unique_values)
print("Number of unique values:", num_unique_values)

unique values in 'Age'column: [24 22 18 20 19 23 21]
Number of unique values: 7

In [ ]:
import pandas as pd
df = pd.read_csv('/content/student_performance_data.csv')

mean_age = df['Age'].mean()
median_age = df['Age'].median()
std_dev_age = df['Age'].std()

print("Mean age:", mean_age)
print("Median age:", median_age)
print("standard deviation of age:", std_dev_age)

Mean age: 20.956
Median age: 21.0
standard deviation of age: 2.000516967254351

In [ ]:
import pandas as pd

Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['Age'] < lower_bound) | (df['Age'] > upper_bound)]

print("potential outliers in 'Age' column:\n",outliers)

potential outliers in 'Age' column:
 Empty DataFrame
Columns: [StudentID, Gender, Age, StudyHoursPerWeek, AttendanceRate, GPA, Major, PartTimeJob, ExtraCurricularActivities]
Index: []

In [ ]:
correlation_matrix = df.head()

print("correlation matrix:")
print(correlation_matrix)

correlation matrix:
   StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA      Major  \
0          1    Male   24                 37           90.75  3.47       Arts
1          2  Female   22                 37           74.90  2.32  Education
2          3    Male   22                 10           53.36  2.38   Business
3          4    Male   24                 10           70.26  3.46    Science
4          5    Male   18                 19           74.87  2.31  Education

  PartTimeJob ExtraCurricularActivities
0         Yes                        No
1          No                        No
2          No                        No
3         Yes                        No
4         Yes                        No

In [ ]:

grouped_by_student = df.groupby('StudentID')['Age'].mean()
print(grouped_by_student)

grouped_by_medication = df.groupby('Medication')['Doctor'].sum()
print(grouped_by_medication)

NameError: name 'df' is not defined