In [ ]:
import pandas as pd
df=pd.read_csv('/content/archive.zip')

In [ ]:
print(df.head())

            Name  Age  Gender Blood Type Medical Condition Date of Admission  \
0  Bobby JacksOn   30    Male         B-            Cancer        2024-01-31
1   LesLie TErRy   62    Male         A+           Obesity        2019-08-20
2    DaNnY sMitH   76  Female         A-           Obesity        2022-09-22
3   andrEw waTtS   28  Female         O+          Diabetes        2020-11-18
4  adrIENNE bEll   43  Female        AB+            Cancer        2022-09-19

             Doctor                    Hospital Insurance Provider  \
0     Matthew Smith             Sons and Miller         Blue Cross
1   Samantha Davies                     Kim Inc           Medicare
2  Tiffany Mitchell                    Cook PLC              Aetna
3       Kevin Wells  Hernandez Rogers and Vang,           Medicare
4    Kathleen Hanna                 White-White              Aetna

   Billing Amount  Room Number Admission Type Discharge Date   Medication  \
0    18856.281306          328         Urgent     2024-02-02  Paracetamol
1    33643.327287          265      Emergency     2019-08-26    Ibuprofen
2    27955.096079          205      Emergency     2022-10-07      Aspirin
3    37909.782410          450       Elective     2020-12-18    Ibuprofen
4    14238.317814          458         Urgent     2022-10-09   Penicillin

   Test Results
0        Normal
1  Inconclusive
2        Normal
3      Abnormal
4      Abnormal

In [ ]:
print(df.describe())

                Age  Billing Amount   Room Number
count  55500.000000    55500.000000  55500.000000
mean      51.539459    25539.316097    301.134829
std       19.602454    14211.454431    115.243069
min       13.000000    -2008.492140    101.000000
25%       35.000000    13241.224652    202.000000
50%       52.000000    25538.069376    302.000000
75%       68.000000    37820.508436    401.000000
max       89.000000    52764.276736    500.000000

In [ ]:


num_rows, num_columns = df.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 55500
Number of columns: 15

In [ ]:
print(df.dtypes)

Name                   object
Age                     int64
Gender                 object
Blood Type             object
Medical Condition      object
Date of Admission      object
Doctor                 object
Hospital               object
Insurance Provider     object
Billing Amount        float64
Room Number             int64
Admission Type         object
Discharge Date         object
Medication             object
Test Results           object
dtype: object

In [ ]:
missing_values = df.isnull().sum()

print(missing_values)

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [ ]:

unique_values = df['Age'].unique()
num_unique_values = len(unique_values)

print("Unique values in 'Age' column:", unique_values)
print("Number of unique values:", num_unique_values)

Unique values in 'Age' column: [30 62 76 28 43 36 21 20 82 58 72 38 75 68 44 46 63 34 67 48 59 73 51 23
 78 25 33 26 70 57 74 81 49 65 31 22 77 42 24 84 55 40 83 18 27 19 29 61
 80 60 35 79 53 69 47 85 52 37 50 32 54 45 66 39 56 64 71 41 88 17 87 86
 15 16 13 14 89]
Number of unique values: 77

In [ ]:
import pandas as pd
df=pd.read_csv('/content/archive.zip')


mean_age = df['Age'].mean()
median_age = df['Age'].median()
std_dev_age = df['Age'].std()

print("Mean age:", mean_age)
print("Median age:", median_age)
print("Standard deviation of age:", std_dev_age)

Mean age: 51.53945945945946
Median age: 52.0
Standard deviation of age: 19.602453808514348

In [ ]:

import pandas as pd

Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['Age'] < lower_bound) | (df['Age'] > upper_bound)]

print("Potential outliers in 'Age' column:\n", outliers)

Potential outliers in 'Age' column:
 Empty DataFrame
Columns: [Name, Age, Gender, Blood Type, Medical Condition, Date of Admission, Doctor, Hospital, Insurance Provider, Billing Amount, Room Number, Admission Type, Discharge Date, Medication, Test Results]
Index: []

In [ ]:
correlation_matrix = df.head()

print("Correlation matrix:")
print(correlation_matrix)

Correlation matrix:
            Name  Age  Gender Blood Type Medical Condition Date of Admission  \
0  Bobby JacksOn   30    Male         B-            Cancer        2024-01-31
1   LesLie TErRy   62    Male         A+           Obesity        2019-08-20
2    DaNnY sMitH   76  Female         A-           Obesity        2022-09-22
3   andrEw waTtS   28  Female         O+          Diabetes        2020-11-18
4  adrIENNE bEll   43  Female        AB+            Cancer        2022-09-19

             Doctor                    Hospital Insurance Provider  \
0     Matthew Smith             Sons and Miller         Blue Cross
1   Samantha Davies                     Kim Inc           Medicare
2  Tiffany Mitchell                    Cook PLC              Aetna
3       Kevin Wells  Hernandez Rogers and Vang,           Medicare
4    Kathleen Hanna                 White-White              Aetna

   Billing Amount  Room Number Admission Type Discharge Date   Medication  \
0    18856.281306          328         Urgent     2024-02-02  Paracetamol
1    33643.327287          265      Emergency     2019-08-26    Ibuprofen
2    27955.096079          205      Emergency     2022-10-07      Aspirin
3    37909.782410          450       Elective     2020-12-18    Ibuprofen
4    14238.317814          458         Urgent     2022-10-09   Penicillin

   Test Results
0        Normal
1  Inconclusive
2        Normal
3      Abnormal
4      Abnormal

In [ ]:

grouped_by_Name = df.groupby('Name')['Age'].mean()

print(grouped_by_Name)
grouped_by_Medication = df.groupby('Medication')['Doctor'].sum()

print(grouped_by_Medication)

Name
AARON DuncAn         22.0
AARON HicKS          76.0
AARON bAldWIN Jr.    20.0
AARON hAWkIns        69.0
AAROn HaRt           18.0
                     ...
zachaRy huLL         53.0
zachaRy oDOM         52.0
zachaRy raMirEZ      58.0
zacharY BauTista     44.5
zachary WALl         73.0
Name: Age, Length: 49992, dtype: float64
Medication
Aspirin        Tiffany MitchellDaniel FergusonMaria Dougherty...
Ibuprofen      Samantha DaviesKevin WellsTaylor NewtonWendy G...
Lipitor        Douglas MayoTheresa FreemanGregory SmithVaness...
Paracetamol    Matthew SmithKelly OlsonSuzanne ThomasHeather ...
Penicillin     Kathleen HannaKenneth FletcherDenise GallowayJ...
Name: Doctor, dtype: object

Data Summary:
The dataset contains information about patients, including their age, prescribed medications, and attending doctors.
 There are [num_rows] rows and [num_columns] columns in the dataset.
 Data types include integers (for Age), objects (for Name, Medication, Doctor), and potentially others
The number of missing values in each column is shown in the missing_values output.
 Handling missing values might be necessary depending on the specific analysis goals.

 **Age Distribution:**
 The average age is [mean_age], the median age is [median_age], and the standard deviation is [std_dev_age].
Potential outliers in the 'Age' column were identified based on the IQR method.
The 'Age' column has [num_unique_values] unique values.

 **Relationships:**
 The correlation matrix provides an overview of potential relationships between numerical variables.
Grouping by 'Name' shows the average age for each patient.
Grouping by 'Medication' and summing 'Doctor' could indicate the number of doctors prescribing each medication.

**Further Analysis:**
Depending on the specific research questions, additional analysis could be performed, such as:
Investigating the distribution of medications and doctors.
 Exploring potential correlations between age and other variables.
  Addressing missing values and outliers.
Conducting statistical tests to validate observed patterns.